POSTGRES_USER=<username from Neon>
POSTGRES_PASSWORD=<password from Neon>
APP_DATABASE__PASSWORD=<password from Neon>
POSTGRES_DB=<Database from Neon>
POSTGRES_HOST=<hostname from Neon>
APP_DATABASE__HOST=<hostname from Neon>
POSTGRES_PORT=5432
